.container {
    margin-right: 3%;
}

.grocery-box-top {
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
    background-color: var(--glass);
}

.grocery-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.grocery-name{
    font-weight: 500;
}

.grocery{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

.grocery:hover {
    background-color: var(--yellow);
}