.background {
    background-color:bisque;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}
    
.signupBox {
  width: 400px;
  margin: 10% 20px;
  max-height: 600px;
  background-color: #f3c86e;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid white;
}

.hintBox {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10% 20px;
  max-height: 400px;
  background-color: #f3c86e;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid white;
}

.hintBox > img {
  width: 100%;
  border-radius: 20px;
  height: 300px;
}

.title {
  color: black;
  font-size: 33px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}

.logColor {
    color: black;
}

.log {
    border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    background: bisque;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.disable {
  border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    background: rgb(72, 72, 72);
    color: black;
    border-radius: 20px;
    cursor: pointer;
}

.p {
    color: gray;
}

.signupBox input,
.log,
.disable {
  width: 100%;
  margin-bottom: 10px;
}

.signupBox input,
.signupBox input,
.signupBox input {
  border: none;
  border-bottom: 2px solid bisque;
  height: 30px;
  background: transparent;
  font-size: 16px;
}

.signupBox input:hover {
  border: 1px solid bisque;
  box-shadow: bisque;
}

.back {
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}