.chat {
    display: flex;
    width: 100%;
    margin-right: 3%;
}

.chat-menu{
    flex: 2;
}

.chat-box{
    flex: 10;
}

.chat-box-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.chat-box-top {
    max-height: 500px;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat-box-bottom {
    margin-top: 5px;
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.chat-msg-input {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chat-submit-button {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--yellow);
    color: white;
}

.new-conversation {
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--yellow);
    color: white;
}

.chat-menu-wrapper, .chat-box-wrapper {
    padding: 10px;
    background-color: var(--glass);
    height: 100%;
}

.open-conversation {
    position:absolute;
    top: 10%;
    font-weight: bold;
    text-align: center;
    color: rgb(154, 153, 153);
    cursor: default;
}