.header{
    height: 80px;
}

.header > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.box{
    background-color: var(--glass);
    width: 80%
}

.add-btn {
    display: inline-block;
    background: rgb(250, 211, 139);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
}

.remove-btn {
  display: inline-block;
  background: rgb(248, 73, 67);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
}

.add-btn:active, .remove-btn:active,.coor-add-btn:active {
  transform: scale(0.9);
}

.add-btn:hover{
    background: rgb(253, 197, 94);
}

.remove-btn:hover{
  background: rgb(247, 26, 18);
}

/* Add Item Popup */

.modal {
    font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #736e6e;
}

/* Item picture */
.item-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}