:root {
    --glass: rgba(255, 255, 255, 0.54);
    --activeItem: #FFDC92;
    --yellow: #FDBE3B;
}

.App {
    background: linear-gradient(
        106.37deg,
        #FFDC92 29.63%,
        #ffcfd1 51.55%,
        #F5FC9E 90.85%
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Inter', sans-serif; 
}

.AppGlass {
    display: grid;
    height: 97%;
    margin-left: 2%;
    padding-right: 10px;
    /* width: 97%; */
    border-radius: 2rem;
    background-color: var(--glass);
    grid-template-columns: 11rem;
}

.View{
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background-color: '#fff';
}